.swiper-slide::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgb(31 41 55), transparent);
}

.s-fade-txt {
    top: auto !important;
    bottom: 15% !important;

    width: 100%;
    text-align: center;
    font-weight: 900;
}

.outer-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.position-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    line-height: 0.9rem;
    margin-bottom: 3rem;
}

.flex-nl {
    flex-basis: 100%;
    height: 0;
}
