.swiper-slide::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgb(31 41 55), transparent);
}

.s-fade-txt {
    top: auto !important;
    bottom: 15% !important;

    width: 100%;
    text-align: center;
    font-weight: 900;
}

.outer-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.position-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    line-height: 0.9rem;
    margin-bottom: 3rem;
}

.flex-nl {
    flex-basis: 100%;
    height: 0;
}

.question {
    display: block;
    padding: 1rem;
    border: 0px solid #9ca3af;
    border-bottom-width: 1px;
}

.question details .question-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0;
}

.question details[open] .question-content {
    max-height: 500px;
    opacity: 1;
}

.banner-container {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.75em;
    padding: 1em;
    background-color: #eee;
}

.banner-container a {
    text-decoration: underline;
}
