<div class="question">
    <details>
        <summary class="question-title">What are the rules?</summary>
        <div class="question-content">
We will have 2 tournaments that happen simultaneously:
<ul>
<li>One tournament for all levels</li>
<li>One for novices</li>
</ul>

Each tournament has:
<ul>
    <li>World Cup-style format</li>
    <li>Starting with a group stage</li>
    <li>Teams of 3 (can be up to 5 players, you’ll need to alternate if more than 3 players) people</li>
    <li>Every team will play at least 3 matches against other teams within their group</li>
    <li>To win a match, a team needs to win 2 out of 3 games (each player on the team plays a game).</li>
    <li>Games are to 7 points in the group stage and to 11 in the knockout stage.</li>
    <li>The top 16 teams will then advance to the single-elimination knockout stage</li>
    <li>One team is crowned champion!</li>
</ul>

If you can’t find a team, we can match you with one!</div>
</details>
</div>
